<h1>Edit Question</h1>

<h1>Update <%=@question.query %> </h1>

<form action="/<%= @question.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="query">Update Question:</label>
  <input id="query" name="query" type="text">

  <button type="submit">Update</button>
</form>
